@{
    ViewData["Title"] = "Home Page";
}


<br />

<div class="col-md-12">

    <input ng-model="inputText" type="text" multiple />

</div>

<div class="col-md-12">
    <input ng-model="outputText" type="text" multiple />

</div>
